body {
    background: url("../images/alesia-kazantceva-XLm6-fPwK5Q-unsplash\ 1.png"),rgba(0,0,0,0.2);
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }